{% extends"base.html" %}
{% block content %}

<form name="myForm">
    
    <table id="myTable" >
       
	<thead>
            
       
		<tr>
			<td  colspan="1">test-v</td>
			<td  colspan="2"><input type="button" value="クリア" onclick="myUndo()">
                <input type="button" value="リセット" onclick="myAllC()"></td>

		</tr>
        
		<tr>
			<td>[メートル]</td>
			<td>[スプリット]</td>
			<td>[ラップ]</td>
		</tr>
	</thead>
	<tbody id="rapNo.">
		<tr>
			<td class="cl_myDist">--</td>
			<td class="cl_mySpl">--</td>
			<td class="cl_myLap">--</td>
		</tr>
   
	</tbody>
    </table>
    <table id="myTable2">
	<tfoot>
		<tr>
			<td>
				<input type="button" value="C" onclick="myC()"> 
				<input type="text" size="10" style="text-align:right" name="myLine" value=""> 
			</td>
			<td>
				<input type="button" value="ENTER" onclick="myCalculate()">
			</td>
		</tr>
		
	</tfoot>

    </table>

</form>
    
{% endblock %}